@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Projeto e Análise de Sistemas</h1>
    <br>
    <p style="text-align: left">  &nbsp;&nbsp;&nbsp;&nbsp;Trabalho feito para a disciplina de Análise e Projeto de Sistemas do curso de Tecnólogo em Análise e Desenvolvimento de Sistemas do Instituto Federal do Piauí no Campus Teresina Central.</p>
    <br>
    <p>Link para o <a href="https://github.com/MrMorgam/aps">repositório no GitHub</a>.</p>
</div>